._layoutAdmin{
    position: absolute;
    background-color: rgb(209, 202, 202);
    height: 100%;
    width: 100%;

    ._headerAdmin{
        position: relative;
        
    }

    ._ad-menu-left{
        position: absolute;
        top: 5rem;
        left: 0;
        width: 19rem;
    }

    ._ad-lists-user{
        margin: 10%;
    }
    

}
