.form-register{
    h4{
        font-size: 25px;
        text-align: center;
        padding: 10px;
    }

    &__grid1{
        
        &__input{
            width: 80%;
            box-sizing: border-box;
            border: none;
            font-size: 1.3rem;
            padding-left: 1.5rem;
            padding-bottom: 1rem;
            box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
            transition: box-shadow 0.2s ease-in;
        }
        &__input:focus{
            box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
            outline: none;
        }
        
        &__radio{
            position: relative;
            font-size: 18px;
            margin-right: 140px;
            margin-left: 20px;

            input{
                width: 40%;
            }
        }
    }
   

    &__grid2{
        width: 100%;
        font-size: 30px;
        margin: 50px;

        &__div{
            width: 100%;
        }
    }
}





.__row-form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
    border: 1px solid #e5e5e5;
    padding-left: 15px;
    padding-right: 15px;
    
  }

  


  
  .__row-form-register input:hover::-webkit-input-placeholder,
  .__row-form-register input:focus::-webkit-input-placeholder{
    opacity: 0;
  }
  
  .__row-form-register label{
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
  }
  
  .__row-form-register button{
    border-radius: 25px;
    width: 80%;
    height: 40px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  
  .__row-form-register button:hover{
    opacity: 0.8;
  }

  .form-register__grid1__input__div{
    margin-top: 10px;
    input{
        margin-top: 5px;
    }
  }