.avatarMyAccount{
    margin: 0 35%;
}
._btnAvatarMyAccount{
    margin: 0 36%;
    width: 30%;
    button{
        width: 10rem;
    }
}
._userContent{
    margin: 5rem 2rem;
}

._btn-updateUserInfo{
    float: right;
    margin: 10px;
    button{
        padding: 1rem;
        font-size: 15px;
    }

}
